@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
	font-family: 'roboto';
	src: url(/Fonts/Roboto-LightItalic.ttf);

}
@font-face {
	font-family: 'oecd';
	src: url(/Fonts/Kaleko105-BoldOblique.ttf);

}


html, body {
  height: 100%;
  margin: 15px;
  padding: 0;
  background: #f1f1f1;
}


.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 900px;
  margin: 30px auto auto auto;
  overflow: hidden;
}

.slidemenu label{
  width: 15%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 90%;
  height: 5px;

  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left:15%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 30%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 45%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 75%; }




h2, h3, h4, h5, h6 {  
  font-family: 'oecd';
  margin-top: 3em;
}

h1 { 
  text-align: center;
  font-family: 'oecd';
 }

p, a, ul, li, table {
  font-family: 'Open Sans', sans-serif;
}

a, a:after {
  color: #6aa389;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #96e8c3;
}

table {
  border: 1px solid #96e8c3;
  /*border-radius: 3%;*/
  box-shadow: 1px 1px 1px #6aa389, -1px -1px 1px #6aa389;
  padding: 5px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #f5f5f5;
}

table th {
    background-color: #c4d8cf;
}


table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
  padding: 8px;
  vertical-align: center;
  border: 1px solid #6aa389;
}

#main {margin: 10px 60px 10px 70px;}

a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}