@font-face {
	font-family: 'roboto';
	src: url(/Fonts/Roboto-LightItalic.ttf);

}

@font-face {
	font-family: 'oecd';
	src: url(/Fonts/Kaleko105-BoldOblique.ttf);

}
 @keyframes fadein {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";
 #timeline .timeline-item:after, #timeline .timeline-item:before {
	 content: "";
	 clear: both;
	 display: block;
	 width: 100%;
}
 *, *:before, *:after {
	 box-sizing: border-box;
	
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
 background: #f1f1f1;
	
	 font-family: 'roboto';
	 line-height: 20px;
	 font-size: 14px;

}


.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 900px;
  margin: 30px auto auto auto;
  overflow: hidden;
}

.slidemenu label{
  width: 15%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;

  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 90%;
  height: 5px;

  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left:15%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 30%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 45%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 75%; }




h1 {
text-align: center;
font-family: 'oecd';
font-size:250%;
padding-top:20px;
}






 img {
	 max-width: 100%;
}
 a {
	 text-decoration: none;
}
 #timeline {
	 transition: all 0.5s ease;
	 margin: 2%;
	 padding: 0;
	 position: relative;
	 width: 90%;
}
 #timeline:after {
	 clear: both;
	 content: "";
	 display: table;
	 width: 100%;
}
 #timeline .timeline-item {
animation-name: fadein;
	 animation: fadein 1s linear 1 forwards;
	 display: block;
	 float: left;
	 margin: 0;
	 opacity: 0;
	 position: relative;
	 width: 30%;
}
 #timeline .timeline-item:after {
	 border-top: 3px solid  rgba(53,98,225,255);
	 padding-bottom: 100%;
	 margin-left: 50%;
}
 #timeline .timeline-item:before {
	 content: "";
	 border-bottom: 7px solid transparent;
	 border-left: 7px solid #f5b90f;
	 border-top: 7px solid transparent;
	 height: 15px;
	 left: 100%;
	 position: absolute;
	 top: -6px;
	 width: 15px;
}
 #timeline .timeline-item.two {
	 animation-delay: 0.5s;
}
 #timeline .timeline-item.three {
	 animation-delay: 1s;
}
 #timeline .timeline-item.three:after {
	 border: 3px solid  rgba(53,98,225,255);
	 border-left: 0;
	 border-radius: 0 50% 50% 0;
	 margin-left: 50%;
}
 #timeline .timeline-item.three:before {
	 left: calc(150% - 8px);
	 border-left: 7px solid transparent;
	 border-top: 7px solid #f5b90f;
	 border-right: 7px solid transparent;
	 top: 50%;
}
 #timeline .timeline-item.four {
	 animation-delay: 3s;
	 float: right;
	 margin-right: 10%;
	 margin-top: -3px;
}
 #timeline .timeline-item.four:after {
	 margin-left: -50%;
}
 #timeline .timeline-item.four:before {
	 border-left: 7px solid transparent;
	 border-right: 7px solid #f5b90f;
	 left: 0;
}
 #timeline .timeline-item.five {
	 animation-delay: 5s;
	 float: right;
	 margin-top: -3px;
}
 #timeline .timeline-item.five:after {
	 margin-left: -50%;
}
 #timeline .timeline-item.five:before {
	 border-left: 7px solid transparent;
	 border-right: 7px solid #f5b90f;
	 left: 0;
}
 #timeline .timeline-item.six {
	 animation-delay: 2.5s;
	 float: right;
	 margin-top: -3px;
}
 #timeline .timeline-item.six:after {
	 border: 3px solid  rgba(53,98,225,255);
	 border-left: 0;
	 border-radius: 50%;
	 border-right: 0;
	 margin-bottom: -3px;
	 margin-left: 0;
}
 #timeline .timeline-item.six:before {
	 left: 0;
	 margin-left: -7px;
	 top: 50%;
	 border-left: 7px solid transparent;
	 border-right: 7px solid transparent;
	 border-top: 7px solid #f5b90f;
}




.timeline-item.eight, .timeline-item.timeline-item.seven, .timeline-item.nine {
padding-bottom:20%;


}
 #timeline .timeline-item.seven {
	 animation-delay: 3s;
}
 #timeline .timeline-item.eight {
	 animation-delay: 3.5s;
}
 #timeline .timeline-item.nine {
	 animation-delay: 4s;
}
 #timeline .timeline-item.nine:after {
	 border: none;
}
 #timeline .timeline-item.nine:before {
	 border: none;
}
 #timeline .timeline-content {
	 transition: all 0.5s ease;
	 padding: 5%;
	 padding-top: 10%;
	 position: absolute;
	 text-align: justify;
	 width: 100%;
}
 #timeline .timeline-content h1 {
	 color: black;
	 font-family: 'oecd';
	 font-size: 1.3rem;
	 font-weight: 500;
	 margin: 10px 0 0 50%;
	 line-height: 1.5rem;
	 padding: 0;
	 text-align: left;
	 text-transform: uppercase;
	 width: 100%;
}
 #timeline .timeline-content p {
	 margin-left: 50%;
	 padding-right: 10%;
	 text-align: justify;
	 width: 100%;
}
 #timeline .timeline-content:before {
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 border-radius: 50%;
	 background-color: #fff;
	 border: 3px solid  rgba(53,98,225,255);
	 content: "";
	 height: 15px;
	 left: 50%;
	 position: absolute;
	 top: -5px;
	 width: 15px;
}
 #timeline button {
	 background:  rgba(53,98,225,255);
	 border: 0;
	 color: #fff;
	 display: block;
	 margin-top: 10px;
	 padding: 5px 15px;
	 width: 100%;
}
 #timeline button a {
	 color: #fff;
	 font-family: "Dosis", arial, tahoma, verdana;
	 font-size: 1rem;
	 text-decoration: none;
}

.W {
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



@media screen and (min-width: 400px) and (max-width: 1024px) {
/* regole CSS */



 
	 #timeline {
		 width: 95%;
	}
	 #timeline .timeline-item.one, #timeline .timeline-item.two, #timeline .timeline-item.three, #timeline .timeline-item.four, #timeline .timeline-item.five, #timeline .timeline-item.seven, #timeline .timeline-item.eight, #timeline .timeline-item.nine {
		 display: block;
		 float: left;
		 width: 100%;
	}
	 #timeline .timeline-item.one:after, #timeline .timeline-item.two:after, #timeline .timeline-item.three:after, #timeline .timeline-item.four:after, #timeline .timeline-item.five:after, #timeline .timeline-item.seven:after, #timeline .timeline-item.eight:after, #timeline .timeline-item.nine:after {
		 border: none;
		 border-left: 3px solid ;
		 margin-left: 1px;
		 padding-bottom: 40%;
	}
	 #timeline .timeline-item.one:before, #timeline .timeline-item.two:before, #timeline .timeline-item.three:before, #timeline .timeline-item.four:before, #timeline .timeline-item.five:before, #timeline .timeline-item.seven:before, #timeline .timeline-item.eight:before, #timeline .timeline-item.nine:before {
		 content: "";
		 border-left: 7px solid transparent;
		 border-right: 7px solid transparent;
		 border-top: 7px solid #f5b90f;
		 height: 15px;
		 left: -5px;
		 position: absolute;
		 top: 50%;
		 width: 15px;
	}
	 #timeline .timeline-item.one:last-child:after, #timeline .timeline-item.two:last-child:after, #timeline .timeline-item.three:last-child:after, #timeline .timeline-item.four:last-child:after, #timeline .timeline-item.five:last-child:after, #timeline .timeline-item.seven:last-child:after, #timeline .timeline-item.eight:last-child:after, #timeline .timeline-item.nine:last-child:after {
		 border: none;
	}
	 #timeline .timeline-item.one:last-child:before, #timeline .timeline-item.two:last-child:before, #timeline .timeline-item.three:last-child:before, #timeline .timeline-item.four:last-child:before, #timeline .timeline-item.five:last-child:before, #timeline .timeline-item.seven:last-child:before, #timeline .timeline-item.eight:last-child:before, #timeline .timeline-item.nine:last-child:before {
		 border: none;
	}
	 #timeline .timeline-item.six {
		 width: 100%;
	}
	 #timeline .timeline-item.six:after {
		 border-right: 0;
		 border-left: 0;
		 margin-left: -20%;
		 padding-bottom: 40%;
		 width: 40%;
	}
	 #timeline .timeline-item.six:before {
		 border: none;
	}
	 #timeline .timeline-content {
		 width: 100%;
		 -webkit-transition: all 0.3s ease;
		 -moz-transition: all 0.3s ease;
		 -ms-transition: all 0.3s ease;
		 transition: all 0.3s ease;
		 padding-right: 0;
		 padding-top: 0;
		 position: absolute;
		 text-align: justify;
		 z-index: 9;
	}
	 #timeline .timeline-content h1 {
		 margin: -7px 0;
	}
	 #timeline .timeline-content p {
		 margin-left: 0;
		 padding: 0;
		 width: 100%;
	}
	 #timeline .timeline-content:before {
		 left: -5px;
		 top: -5px;
	}


 
}


footer{
position: absolute;
	bottom: 0;

}

@media (max-height:500px){
	footer { position: static; }
	header { padding-top:30px; }
}


.footer-distributed{
		background-color: #29292f;
	box-sizing: border-box;
	width: 108%;
	text-align: center;
	font: bold 16px sans-serif;
	padding: 10px 10px 30px 20px;
	margin-top: 130px;

}




.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33333bb7;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 8px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}





@media (max-width: 880px) {

	
	.footer-distributed .footer-center{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
footer p {
color:#ffffff;


}