@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
	font-family: 'oecd';
	src: url(/Fonts/Kaleko105-BoldOblique.ttf);

}
 @keyframes fadein {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
 
    transform: translateY(0);
  }
  40% {

    transform: translateY(-10px);
  }
  60% {
  
    transform: translateY(-5px);
  }
}
@keyframes bounce1 {
  0%,
  100%,
  20%,
  50%,
  80% {
 
    transform: translateY(0);
  }
  40% {

    transform: translateY(-10px);
  }
  60% {
  
    transform: translateY(-5px);
  }
}


 
 
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
 background: #f1f1f1;
	width: 100%;
  font-family: 'Open Sans', sans-serif;


}
p { 

font-size:13px;
 font-family: 'Open Sans', sans-serif;

}


.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 900px;
  margin: 30px auto auto auto;
  overflow: hidden;
}

.slidemenu label{
  width: 15%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px #333;
  text-align: center;
  height: 50px;
  width: 50px;

  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 90%;
  height: 5px;

  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left:15%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 30%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 45%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-6:checked ~ .slider .bar{ margin-left: 75%; }




h1 {
text-align: center;
font-family: 'oecd';
font-size:300%;
padding-top:20px;
color: 	#01796f;
padding-bottom:5%;
}
h2 {

text-align: center;
font-family: 'oecd';
font-size:200%;
color: black;

}

.second {
float: right;
width: 50%;
margin-right:20px;
}




a {

text-decoration: none;
color: black;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
a:hover {
  color: #96e8c3;
}



.W {
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.column1 {

 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;
    background: rgba(242,48,159,255);

}
.column17 {

 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;
    background:rgba(255,255,0,255);

}
.column16 {

 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;
    background: rgba(121,87,218,255);

}
.column12 {

 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;
    background:rgba(221,106,93,255);

}
.column11 {
 float: right;
 width: 30%;
flex-shrink: 0;
margin-right:15%;
    border-radius: 15%;
    padding: 20px;
    background: rgba(213,234,211,255);

}
.column19 {
 float: right;
 width: 30%;
flex-shrink: 0;
margin-right:15%;
    border-radius: 15%;
    padding: 20px;
    background: rgba(244,151,1,255);

}
.column15 {
 float: right;
 width: 30%;
flex-shrink: 0;
margin-right:15%;
    border-radius: 15%;
    padding: 20px;
    background:  rgba(0,207,255,255);

}


.column2 {
 float: right;

flex-shrink: 0;
    border-radius: 0;
    width: 50%;

}
.column21 {
 float: right;

flex-shrink: 0;
    border-radius: 0;
    width: 50%;

}
.column23 {
 float: right;

flex-shrink: 0;
    border-radius: 0;
    width: 50%;

}
.column23 img {

    
    width: 70%;
margin-left:20px;
    border-radius: 40px;
}
.column20 {
 float: right;

flex-shrink: 0;
    border-radius: 0;
    width: 50%;

}
.column20 img {

    
    width: 55%;
margin-left:20px;
    border-radius: 40px;
}
.column25 {
 float: right;

flex-shrink: 0;
    border-radius: 0;
    width: 35%;

}
.column25 img {

    
    width: 70%;
margin-left:-200px;
    border-radius: 40px;
}
.column22 {
 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;


}
.column29 {
 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;


}
.column29 img {

    
    width: 110%;
margin-left:-10px;
    border-radius: 40px;

}
.column28 {
 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;


}
.column28 img {

    
    width: 120%;
margin-left:-50px;
    border-radius: 40px;

}
.column30 {
 float: left;
 width: 30%;
flex-shrink: 0;
margin-left:15%;
    border-radius: 15%;
    padding: 20px;


}
.column30 img {

    
    width: 125%;
margin-left:-80px;
    border-radius: 40px;

}

.column2 img {

    
    width: 50%;
margin-left:20px;
    border-radius: 40px;
}
.column21 img {

    
    width: 75%;
margin-left:20px;
    border-radius: 40px;
}
.column22 img {

     float: left;
margin-left:20px;
flex-shrink: 0;
    border-radius: 40px;
    width: 100%;

}
.column1 img {

    
    width: 50%;

    border-radius: 40px;
margin-left:90px;
}
section {
  height: 100vh;
  width: 100%;
  display: table;
  
}
.scroll-down {
  position: relative;

margin:auto;
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all .2s ease-in;
top:65%;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid black;
    border-width: 0px 0 2px 2px;
}
.scroll-down {
  opacity: 1;
  transition: all .2s ease-in 5s;
}

.scroll-down1 {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down1 {
  position: relative;

margin:auto;
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid black;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 4s infinite 2s;
  transition: all .2s ease-in;
  top:90%;
}

.scroll-down1:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(135deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid black;
    border-width: 0px 0 2px 2px;

}


@media screen and (min-width: 200px) and (max-width: 1024px) {
/* regole CSS */



 
	


	


 
}


footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:50px; }
}


.footer-distributed{
	background-color: #29292f;
	box-sizing: border-box;
	color: #ffffff;
	width: 100%;
	text-align: center;
	font: bold 16px sans-serif;
	padding: 10px 10px 30px 20px;
	margin-top: 130px;
}




.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33333bb7;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 8px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}




@media (max-width: 880px) {

	
	.footer-distributed .footer-center{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}